header.header.header--static
  .wrapper
    = link_to '#top', class: 'logo', data: { scroll: true } do
      = svg_tag 'logo', width: 134, height: 16

    nav.header-menu
      .header-menu-list
        = link_to 'Concept', '#concept', data: { scroll: true }, class: 'header-menu-item'
        = link_to 'Fonctionnement', '#operation', data: { scroll: true }, class: 'header-menu-item'
        = link_to 'Tarif', '#pricing', data: { scroll: true }, class: 'header-menu-item'
        = link_to 'Réserver maintenant', '#contact', data: { scroll: true, focus: 'input-full_name' }, class: 'header-menu-item button'

header.header.header--fixed
  .wrapper
    = link_to '#top', class: 'logo', data: { scroll: true } do
      = svg_tag 'logo', width: 134, height: 16

    nav.header-menu
      .header-menu-list
        = link_to 'Concept', '#concept', data: { anchor: 'concept', scroll: true }, class: 'header-menu-item'
        = link_to 'Fonctionnement', '#operation', data: { anchor: 'operation', scroll: true }, class: 'header-menu-item'
        = link_to 'Tarif', '#pricing', data: { anchor: 'pricing', scroll: true }, class: 'header-menu-item'
        = link_to 'Réserver maintenant', '#contact', data: { anchor: 'contact', scroll: true, focus: 'input-full_name' }, class: 'header-menu-item button'

.hero   
  .wrapper
    .hero-content
      h1.hero-title Vivez Mieux
      h3.hero-subtitle Avec votre assistante personnelle.

section.section#concept
  .wrapper
    .section-heading
      h2.section-heading-title Besoin d'aide ?
      p.section-heading-subtitle Libérez-vous de la paperasse maintenant.
    
    .section-content.concept-content
      .concept-list
        h3.concept-list-title Je fais ce que vous n’aimez pas faire...
        .concept-list-item
          = icon_tag 'check'
          | classement papiers
        .concept-list-item
          = icon_tag 'check'
          | aide administrative
        .concept-list-item
          = icon_tag 'check'
          | archivage
      .concept-list
        h3.concept-list-title ...vous, vous faites ce que vous aimez.
        .concept-list-item
          = icon_tag 'check'
          | sortir avec vos amis
        .concept-list-item
          = icon_tag 'check'
          | lire un bon livre
        .concept-list-item
          = icon_tag 'check'
          | faire une balade

section.section#operation
  .wrapper
    .section-heading
      h2.section-heading-title Comment cela fonctionne ?
    
    .section-content.operation-content
      .operation-step
        = icon_tag 'pencil', class: 'operation-step-icon', width: 48, height: 48
        h3.operation-step-title Décrivez votre besoin
        p.operation-step-text Présentez votre besoin en détail afin de déterminer ma mission.
      = icon_tag 'arrow', class: 'operation-step operation-step-separator', width: 78, height: 28
      .operation-step
        = icon_tag 'done', class: 'operation-step-icon', width: 48, height: 48
        h3.operation-step-title Vivez mieux
        p.operation-step-text J’accomplie votre mission avec votre satisfaction comme objectif.

section.section#pricing
  .wrapper
    .section-heading
      h2.section-heading-title Un seul prix, pas de suprises.
    
    .section-content.pricing-content
      .pricing-price-container
        h2.price-title 
          | 18
          sup €
        p.price-text l’heure avec Chéque CESU ou 34€ sans Chéque
      .pricing-list
        .pricing-list-item
          = icon_tag 'clock', class: 'pricing-list-item-icon', width: 48, height: 48
          h3.pricing-list-item-title Gain de temps
        .pricing-list-item
          = icon_tag 'shield', class: 'pricing-list-item-icon', width: 48, height: 48
          h3.pricing-list-item-title Confidentialité assurées
        .pricing-list-item
          = icon_tag 'chat', class: 'pricing-list-item-icon', width: 48, height: 48
          h3.pricing-list-item-title Communication fluide

section.section#contact
  .wrapper
    .section-heading
      h2.section-heading-title Réserver maintenant
    
    .section-content.contact-content
      form.contact-form
        .contact-form-input
          label for="input-full_name" Nom et prénom
          input#input-full_name type="text" name="full_name"
        .contact-form-input--separator
        .contact-form-input
          label for="input-phone" Numéro de téléphone
          input#input-phone type="tel" name="phone"
        .contact-form-input.contact-form-input--full
          label for="input-message" Votre besoin
          textarea#input-message name="message" rows="8"
        
        input.button type="submit" value="Envoyer"
      
      hr.section-separator
      
      .contact-cathy
        .contact-cathy-image
          = image_tag 'cathy.jpg', width: 165, height: 165
          .contact-cathy-icon = icon_tag 'phone', width: 48, height: 48
          = link_to '07  716  503  59', 'tel:+33771650359', class: 'contact-cathy-title'
          .contact-cathy-text De 8:00 à 18:00 en semaine.

footer.footer
  .wrapper
    .copyright
      | © TaskCathy
    
    nav.footer-menu
      .footer-menu-list
        = link_to 'Concept', '#concept', data: { scroll: true }, class: 'footer-menu-item'
        = link_to 'Fonctionnement', '#operation', data: { scroll: true }, class: 'footer-menu-item'
        = link_to 'Tarif', '#pricing', data: { scroll: true }, class: 'footer-menu-item'
